rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /events_test/{eventId} {
      allow read;
      allow create, update, delete: if request.auth != null && request.auth.uid == "YFJw0QC8QRTC0qiiZH6rSiD8Rkg2";
    }

    match /events_prod/{eventId} {
      allow read;
      allow create, update, delete: if request.auth != null && request.auth.uid == "YFJw0QC8QRTC0qiiZH6rSiD8Rkg2";
    }

    match /users/{userId} {
      allow read;
      allow create: if request.auth != null;
    }

    match /{document=**} {
      allow read;
    }
  }
}