rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /events_test/{eventId} {
      allow read;
      allow create, update, delete: if request.auth != null && request.auth.uid == "YFJw0QC8QRTC0qiiZH6rSiD8Rkg2";
    }

    match /events_prod/{eventId} {
      allow read;
      allow create, update, delete: if request.auth != null && request.auth.uid == "YFJw0QC8QRTC0qiiZH6rSiD8Rkg2";
    }

    match /users/{userId} {
      allow read;
      allow create: if request.auth != null;
    }

    match /carpools_prod/{carpool} {
      allow read;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow update: if request.auth != null && (
      (request.auth.uid == resource.data.userId) ||
      (request.auth.uid != resource.data.userId && 
       request.resource.data.diff(resource.data).affectedKeys().hasOnly(['people']))
      );
      allow delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    match /carpools_test/{carpool} {
      allow read;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow update: if request.auth != null && (
      (request.auth.uid == resource.data.userId) ||
      (request.auth.uid != resource.data.userId && 
       request.resource.data.diff(resource.data).affectedKeys().hasOnly(['people']))
      );
      allow delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    match /{document=**} {
      allow read;
    }
  }
}